*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family: "Inter", sans serif;
    background:#f57206;
    color:#333;
    line-height:1.7;

}

.hero{

    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    background:linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.55)
    ),
    url("https://uploads.naturkartan-cdn.se/ab490d8f57722a554437480544c190c5.jpg?width=1680&quality=80&optimizer=image");

    background-size:cover;
    background-position:center;

    color:white;

}

.hero h1{

    font-size:5rem;

    letter-spacing:6px;

}

.hero p{

    font-size:1.5rem;

    margin-top:10px;

}

.hero h2{

    margin-top:35px;

    font-size:2rem;

    font-weight:normal;

}

.button{

    margin-top:50px;

    background:#ffb000;

    color:black;

    text-decoration:none;

    padding:18px 40px;

    border-radius:8px;

    font-weight:bold;

    transition:.2s;

}

.button:hover{

    background:white;

}

main{

    max-width:900px;

    margin:auto;

    padding:80px 30px;

}

section{

    margin-bottom:80px;

}

h2{
    margin-top: 50px;
    margin-bottom: 20px;
}



